@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  cursor: default;
}

.timer-container {
  background-color: hsl(235, 16%, 14%);
  background-image: url(./images/bg-stars.svg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  font-family: 'Red Hat Text';
  height: 100vh;
  position: relative;
}

h2 {
  letter-spacing: 0.4rem;
  font-size: 1.4rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.timer-box {

  display: flex;
}

.box-container {

  margin: 2rem;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;

}

.box-item::before {
  content: ' ';
  top: 0rem;
  left: 0rem;
  border-radius: inherit;
  font-size: 1rem;
  position: absolute;
  background-color: hsl(237, 18%, 59%);

  opacity: 0.25;
  height: 4.45rem;
  width: inherit;
  z-index: 3;

}

.box-item {
  color: hsl(345, 95%, 68%);
  padding: 1.5rem 0rem;
  width: 8rem;
  font-size: 4.5rem;
  border-radius: 10px;
  position: relative;
  z-index: 4;
}

span {
    position: relative;
    z-index: 10rem;
}

.box-item::after {
  content: ' ';
  bottom: 0rem;
  left: 0rem;
  border-radius: inherit;
  font-size: 1rem;
  position: absolute;
  background-color: hsl(237, 18%, 59%);
  opacity: 0.13;
  height: 4.5rem;
  width: inherit;
  z-index: 2;

}

p {
    color: hsl(237, 18%, 59%);
  letter-spacing: 0.3rem;
  font-size: 0.7rem;
  z-index: 5;
}

.hills-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.hills-image img {
  width: 100%;
}

.social-media {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: absolute;
  bottom: 2rem;
  left: 45vw;
}

.social-media li {
    cursor: pointer;
}

@media (max-width: 900px) {
    .box-container {
        padding: 0;
        margin: 2rem 1rem;
    }
    .social-media {
        left: 40vw;
    }
    
}

@media (max-width: 650px) {
    .box-container {
        margin: 2rem 0.5rem;
    }
    .box-item {
        /* background-color: pink; */
        width: 5rem;
        font-size: 2.5rem;
    }
    .box-item::before{
        height: 3.15rem;
    }

    .box-item::after {
        height: 3.15rem;
    }

    h2 {
        text-align: center;
        /* font-size: 1.4rem; */
    }

    .hills-image {
        background-image: url(./images/pattern-hills.svg);
        height: 11rem;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hills-image img {
        display: none;
    }

    .social-media {
        left: 27vw;
    }

    p{
        letter-spacing: 0.1rem;
    }
    .social-media {
        left: 30vw;
    }
    
}

@media (max-width: 390px) {
    .box-container {
        zoom: 80%;
    }
    .social-media {
        left: 23vw;
    }
}

@media (max-width: 300px) {
    .box-container {
        zoom: 60%;
    }
    h2 {
        font-size: 1rem;
    }
}



























